<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="section1">
      <nav class="navbar navbar-expand-sm">
        <div class="container">
          <a class="navbar-brand col-2 text-white" href="#">LOGO</a>
          <button
            class="navbar-toggler bg-light opacity-25"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="#"
                  >HOME</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white ms-4" href="#">WORK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white ms-4" href="#">CONTACT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white ms-4" href="#">ABOUT ME</a>
              </li>
            </ul>

            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">SIGN UP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">LOGIN</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div
        class="main-screen text-white d-flex align-items-center justify-content-center flex-column"
      >
        <h1 class="my-5">PLAY TRADITIONAL GAME</h1>
        <p class="mb-5">Experience new traditional game play</p>
        <a href="/game">
        <button type="button" class="btn btn-warning gap-2 fw-bold mb-5">
          PLAY NOW
        </button>
      </a>
        <p class="mb-0 mt-5">THE STORY</p>
        <img
          src="./images/scroll-down.svg"
          class="img-fluid text-center"
          alt="..."
        />
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center" id="section2">
      <div class="d-flex flex-column" id="teks">
        <p class="text-white">What's so special?</p>
        <h2 class="text-white">THE GAMES</h2>
      </div>
      <img
        src="./images/switch-left.svg"
        class="container mx-0"
        id="foto2"
        alt=""
      />
      <img
        src="./images/rockpaperstrategy-1600.jpg"
        id="foto1"
        class="container mx-0"
        alt=""
      />
      <img
        src="./images/switch-right.svg"
        class="container mx-0"
        id="foto3"
        alt=""
      />
    </div>
    <div class="d-flex justify-content-center align-items-center" id="section3">
      <div class="hal3">
        <p class="text-white mb-0">What's so special?</p>
        <h3 class="text-white mb-5">FEATURES</h3>
        <ul class="  ">
          <li id="item">
            <p class="text-warning opacity-75">TRADITIONAL GAMES</p>
            <p class="">
              If you miss your chillhood, we provide
              <span class="d-block">many traditional games</span>
            </p>
          </li>
          <li id="item2">
            <p class="text-warning opacity-75">GAME SUIT</p>
          </li>
          <li id="item2">
            <p class="text-warning opacity-75">TBD</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid" id="section4">
      <p class="text-center py-5 text-white">Can My Computer Run this game?</p>
      <h4 class="ps-5 ms-5">
        SISTEM <span class="d-block">REQUIREMENTS</span>
      </h4>
      <div class="d-flex justify-content-start" id="kolom">
        <table border="1" class="col-8 text-white">
          <tr>
            <td class="border-end">
              <span class="d-block text-warning">OS:</span> Windows 7 64-Bit
              only (No OSX support at this time)
            </td>
            <td class="border-bottom">
              <span class="d-block text-warning">PROCESSOR:</span>Intel core 2
              Duo @2.4GHZ or AMD Athlon X2 @2.8GHZ
            </td>
          </tr>
          <tr>
            <td class="border-top">
              <span class="d-block text-warning">MEMORY:</span>4 GB RAM
            </td>
            <td class="border-start">
              <span class="d-block text-warning">STORAGE:</span>8 GB available
              space
            </td>
          </tr>
          <tr>
            <td colspan="2" class="border-top">
              <span class="d-block text-warning">GRAPHICS:</span>NVIDIA GeFORCE
              GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="container-fluid d-flex align-items-center" id="section5">
      <div class="kiri5 flex-column ps-5 ms-5">
        <h5 class="ps-5 fs-1">TOP SCORE</h5>
        <p class="ps-5 col-8 pb-4">
          This top score from various games provide on this platform
        </p>
        <button type="button" class="btn btn-warning gap-3 col-4" id="button">
          see more
        </button>
      </div>
      <div class="review">
        <div class="card mb-3 bg-dark" id="card1" style="max-width: 22rem">
          <div class="fot" id="fot1"></div>
          <span> <img
            src="./images/ellipse-orange.png"
            class="rounded-circle"
            id="im22"
            alt=""
          />
            <img
            src="./images/evan-lahti.jpg"
            class="rounded-circle"
            id="im1"
            alt=""
          />
          <img src="./images/twitter-card.png" id="im11" alt="" /></span>
          <div class="card-header text-warning fw-bold ps-5 ms-2">
            Evan Lathi
            <span id="fs" class="d-block fw-normal text-white">PC Gamer</span>
          </div>
          <div class="card-body">
            <p class="card-title">"One of my gaming highlights of the year."</p>
            <p class="card-text" id="fs">Juni 18, 2021</p>
          </div>
        </div>
        <div class="card mb-3 bg-dark" id="card3" style="max-width: 22rem">
          <span> <img
            src="./images/ellipse-orange.png"
            class="rounded-circle"
            id="im22"
            alt=""
          />
            <img
            src="./images/jada-griffin.jpg"
            class="rounded-circle"
            id="im2"
            alt=""
          />
         
          <img src="./images/twitter-card.png" id="im11" alt="" /></span>
          <div class="card-header ps-5 ms-2 text-warning fw-bold">
            Jada Griffin
            <span id="fs" class="d-block fw-normal text-white"
              >Nerdreactor</span
            >
          </div>
          <div class="card-body">
            <p class="card-title">
              "The next big thing in the world of streaming and survival games."
            </p>
            <p class="card-text" id="fs">July 10, 2021</p>
          </div>
        </div>
        <div class="card mb-3 bg-dark" id="card2" style="max-width: 22rem">
          <span><img
            src="./images/ellipse-orange.png"
            class="rounded-circle"
            id="im22"
            alt=""
          />
             <img
            src="./images/aaron-williams.jpg"
            class="rounded-circle"
            id="im3"
            alt=""
          />
          <img src="./images/twitter-card.png" class="" id="im11" alt="" /></span>
          <div class="card-header ps-5 ms-2 text-warning fw-bold">
            Aaron Williams
            <span id="fs" class="d-block fw-normal text-white">Uproxx</span>
          </div>
          <div class="card-body">
            <p class="card-title">
              "Snoop Dogg Playing The Wildly Entertaining 'SOS' is Ridiculous."
            </p>
            <p class="card-text" id="fs">Desember 24, 2018</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="section6">
      <div class="d-flex align-items-center justify-content-end" id="liw">
        <img src="./images/skull.png" id="profil-img " alt="" />
        <div class="text-sect6 text-white d-flex flex-column" id="input">
          <p class="d-flex col-3">want to stay in touch?</p>
          <h1 class="d-flex col-7">NEWSLETTER SUBSCRIBE</h1>

          <p1 class="d-flex col-10 flex-column" id="low">
            In order start receiving our news, all you have to do is enter
            <span>
              your email address. Everthing else will be taken care of by
              us.</span
            ><span>
              We will send you emails containing information about game. We
              don't spam.</span
            >
          </p1>
          <div class="input-group mb-3 mt-5">
            <input
              type="text"
              class="form-control"
              placeholder="your email"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <button
              class="btn bg-warning fw-bold"
              type="button"
              id="button-addon2"
            >
              Subcribe now
            </button>
          </div>
        </div>
      </div>
      <div
        class="d-flex justify-content-center align-items-end col gap-3"
        id="low2"
      >
        <p>HOME</p>
        <p>ABOUT</p>
        <p>GAME FEATURES</p>
        <p>SYSTEM REQUIREMENTS</p>
        <p>QUOTES</p>
        <img src="./images/facebook.svg" alt="" id="kec" />
        <img src="./images/twitch.svg" alt="" id="kec" />
        <img src="./images/vector.svg" alt="" id="kec" />
        <img src="./images/twitch.svg" alt="" id="kec" />
      </div>
      <div class="container border-top" id="last">
        <div class="row">
          <div class="col-6 d-flex justify-content-start py-3">
            <p class="" id="fs">
              &copy; 2018 Your Games, Inc All Right Reserved
            </p>
          </div>
          <div class="col-6 d-flex justify-content-end py-3">
            <p class="" id="footer">
              &copy; PRIVACY POLICY | TERMS OF SERVICE | CODE OF CONDUCTF
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
