<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style2.css" />
  </head>
  <body>
    <section>
      <header class="row mb-3" id="head">
        <span class="col-1">
          <h1 href="" class=""><</h1>
        </span>
        <img src="./images/logo.png" class="col-1" alt="" />
        <p class="mt-3 fs-5 fw-bold text-warning text-start col">
          ROCK PAPER SCISSORS
        </p>
        >
      </header>
      <div class="row">
        <div class="col-5" id="p1">
          <h1 class="">PLAYER1</h1>
          <div class="play" id="play">
            <button class="batu">
              <img src="././images/batu.png" alt="batu" />
            </button>
            <button class="kertas">
              <img src="././images/kertas.png" alt="kertas" />
            </button>
            <button class="gunting">
              <img src="././images/gunting.png" alt="gunting" />
            </button>
          </div>
        </div>
        <div
          class="col-2 d-flex align-items-center justify-content-center"
          id="vs"
        >
          <h2 class="text-danger">VS</h2>
        </div>
        <div class="col-5" id="p2">
          <h1>COM</h1>
          <div class="comuser" id="comu">
            <button class="batuc">
              <img src="./images/batu.png" alt="batu" />
            </button>
            <button class="kertasc">
              <img src="./images/kertas.png" alt="kertas" />
            </button>
            <button class="guntingc">
              <img src="./images/gunting.png" alt="gunting" />
            </button>
          </div>
        </div>
      </div>
      <div id="p3" class="re">
        <img src="./images/refresh.png" alt="" />
      </div>
    </section>
    <script src="js/script.js"></script>
  </body>
</html>
