.section1 {
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  .main-screen {
    width: 100%;
    height: 100%;
  }
  .main-screen h1 {
    font-size: 80px;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  #section2 {
      background-image: url(../images/the-games-bg.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100%;
    }
  
    #teks {
      position: relative;
      bottom: 200px;
    }
    #teks h2 {
      letter-spacing: 10px;
      
    }
  
  #foto1 {
      width: 60%;
      height: 60%;
     padding-left: 0%;
     padding-right: 0%;
  }
  #foto2 {
      width: 10vh;
      height: 5vh;
      padding: 0%;
  }
  #foto3 {
      width: 10vh;
      height: 5vh;
  }
  
  #section3 {
      background-image: url(../images/features.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100%;
    }
  
  .hal3 {
      position: relative;
      left: 230px;
  }
  .hal3 h3 { font-size: 40px;
      
  }
  
  #item {
      color: white;
  }
  #item2 {
      
      list-style: circle none;
      color: white;
  }
  
  #section4 {
      background-image: url(../images/requirements.png);
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100%;
    
  }
  
  #section4 h4 {
      font-size: 45px;
      color: white;
  }
  
  #section4 #kolom {
      left: 100px;
      position: absolute;
  }
  
  table {
      border-color: white;
  }
  
  #section5 {
      background-image: url(../images/top-score-bg.png);
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100%;
      color: white;
    
  }
  
  h5 {
      letter-spacing: 5px;
  }
  
  #button {
      position: relative;
      left: 50px;
  }
  #card1 {
      position: relative;
      left: 150px;
      
  }
  #card2 {
      position: relative;
      left: 100px;
      
  }
  
  
  #fs {
      font-size: 11px;
      color: rgb(73, 73, 73);
  }
  
  #fot1{
     
      width: 20%;
      height: 20%;
     overflow: hidden;
      object-fit: cover;
      object-position: center;
  }
  #section6 {
      background-image: url(../images/newsletter.png);
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100%;
      color: white;}
  
      #section6 img {
      width: 25%;
      height: 70vh;
      position: relative;
      right: 280px;
  }
  #section6 #low {
      font-size: 13px;
  }
  
  #input {
      position: relative;
      right: 200px;
      
  }
  
  #section6 #low2 {
      font-size: 13px;
      position: relative;
      top: 100px;
  }
  
  #section6 #liw {
      position: relative;
      top: 100px;
  }
  
  #section6 #kec {
      width: 15px;
      height: 15px;
      position: relative;
      left: 40px;
      bottom: 20px;
  }
  
  #last {
      position: relative;
      top: 100px;;
  }
  
  #footer {
      font-size: 13px;
  }
  
  #im1 {
      position: relative;
      width: 40px;
      height: 40px;
      right: 40px;
     
  }
  #im11 {
      position: relative;
      width: 20px;
      height: 20px;
      left: 230px;
  }
  #im2 {
      position: relative;
      width: 40px;
      height: 40px;
      right: 40px;
  }
  #im3 {
      position: relative;
      width: 40px;
      height: 40px;
      right: 40px;
  }
  
  #im22 {
      position: relative;
      width: 40px;
      height: 40px;
      left: 10px;
      top: 3px;
  }
  